* {
  font-family: sans-serif;
}
/* TodoList.css */
.todo-list-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.todo-list-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.todo-list-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

/* TodoItem.css */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.priority {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.Normal {
  background-color: #33ff00;
}

.Medium {
  background-color: #ffb800;
}

.High {
  background-color: #ff0000;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item .status {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.todo-item .status.completed {
  color: green;
}

.todo-item .edit-input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

.isCompleted {
  text-decoration: line-through;
}

.todo-item .edit-btn,
.todo-item .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.edit-btn {
  margin-left: auto;
}
.edit-form {
  display: flex;
  align-items: center;
}

.edit-form .save {
  background-color: rgb(105, 105, 105);
  color: white;
  border-radius: 2px;
  margin-left: 10px;
  padding: 7px;
  transition: 0.5s;
}
.edit-form .save:hover {
  background-color: white;
  outline: 1px solid rgb(105, 105, 105);
  color: rgb(105, 105, 105);
}

.icon {
  font-size: 25px;
  cursor: pointer;
  color: rgb(47, 47, 47);
  transition: 0.3s;
}

.icon:hover {
  color: rgb(255, 0, 0);
}

/* TodoForm.css */
.todo-form {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.task-input {
  width: 85%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radio {
  top: 9px;
  right: 83px;
  position: absolute;
  display: flex;
  font-size: small;
}
.add-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 550px) {
  .radio {
    top: 40px;
    left: 0px;
    position: absolute;
    display: flex;
    font-size: small;
  }
}
